<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue表单 - 实验4 Vue 模板语法</title>
    <script src="../vue.js"></script>
</head>

<body>

    <div id="container">

        <form>

            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" v-model="name"></td>
                </tr>
                <tr>
                    <td>Gender:</td>
                    <td>
                        <input type="radio" id="Female" value="Female" name="gender" checked v-model="gender" />
                        <label for="Female">Female</label>
                        <input type="radio" id="Male" value="Male" name="gender" v-model="gender" />
                        <label for="Male">Male</label>
                    </td>
                </tr>
                <tr>
                    <td>Year:</td>
                    <td>
                        <select name="year" id="year" v-model="year">
                            <option value="FirstYear">FirstYear</option>
                            <option value="SecondYear">SecondYear</option>
                            <option value="ThirdYear">ThirdYear</option>
                            <option value="FouthYear">FouthYear</option>
                        </select>
                    </td>
                </tr>
            </table>
            <br>
            <div>Information: Name: {{name}} | Gender: {{gender}} | Year: {{year}}</div>

        </form>

    </div>

    <script>

        const app = new Vue({
            el: "#container",
            data: {
                name: null,
                gender: null,
                year: null,
            },
        })

    </script>

</body>

</html>

<!-- Edit by hlxuan. -->